 *{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}



    body{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 90%;
        background-image: url(/pattern-background-desktop.svg);
        background-color: hsl(225, 100%, 94%);
        background-repeat: no-repeat;
        background-position: 50% -40%;
        background-size: 100%;
        font-family: 'Red Hat Display', sans-serif;
    
    } 
    .container{ 
        margin: 30px 0;
        background-color: #fff;
        border-radius: 25px;
    }
    .container__img{
        width: 100%;
        border-radius: 25px 25px  0 0;
    }
    .container__Title{   
        text-align: center;
       color: hsl(223, 47%, 23%);
       margin: 1rem 0 ;
    }
    .container__destription{
        text-align: center;
        width: 60%;
        color: hsl(224, 23%, 55%);
        margin-bottom:2rem;
    }
    .container__box{  
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        padding: 2rem 0;
        margin: 1rem auto;
        background-color: hsl(225, 100%, 98%);
        border-radius: 20px;
    }
    .container__box__offer__first{
        display: flex;
        flex-direction: column;
    }
    .container__box__offer__second{
        font-size: 16px;
    }
    
    .container__box__price{
    }
    .change{
        color: hsl(245, 75%, 52%);
        font-weight: bold;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    margin-bottom: 2rem;}
    
    .btn__first{
        margin: 1rem 0;
        padding: 1rem 3rem;
        font-size: 18px;
        background-color: hsl(245, 75%, 52%);
        border: none;
        border-radius: 10px;
        font-weight: bold;
        color: #fff;
        box-shadow:  5px 10px hsl(280, 75%, 95%);
        cursor: pointer;
    }

    .btn__second{
        font-size: 20px;
        padding: 1rem 3rem;
        margin: 1rem 0;
        border: none;
        background-color: white;
        color: hsl(224, 23%, 55%);
        font-weight: bold;
        cursor: pointer;

     }


 @media(min-width:600px){
    .container{
        width: 500px;
    }
 }


